.loading-screen {
	transition: opacity 500ms, visibility 500ms;
	&__avatar {
		width: 80px;
		height: 80px;
		border: 2px solid #ffd23f;
		border-radius: 50%;
		overflow: hidden;
		animation: float 2s ease-in-out infinite;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $color--app-background;
		transition: opacity 250ms, visibility 250ms;
	}
	&__img {
		width: 60%;
		height: auto;
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
