.overlay.hidden {
	visibility: hidden;
	opacity: 0;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
	display: grid;
	row-gap: 3rem;
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 1fr 13rem;
	place-items: center;
	grid-template-areas:
		'.'
		'modal'
		'.';
	z-index: 100;
	transition: opacity 250ms, visibility 250ms;
	cursor: pointer;
	border-radius: 25px;
	padding: 6rem;
}
