.timer {
	@extend .container;
	@include flex-align-center;
	transition: visibility 250ms, opacity 250ms;
	&__display {
		position: relative;
		color: #d7af70;
		display: grid;
		place-items: center;
		margin-right: 6rem;
	}
	&__svg {
		width: 110%;
		height: 100%;
		transform: scaleX(-1);
	}
	&__circle {
		fill: none;
		stroke: none;
	}
	&__path-elapsed {
		stroke-width: 2px;
		stroke: #333;
	}
	&__path-remaining {
		stroke-width: 1px;
		stroke-linecap: round;
		transform: rotate(90deg);
		transform-origin: center;
		transition: 1s linear all;
		stroke: currentColor;
		stroke: #d7af70;
		paint-order: stroke;
	}
	&__time-left {
		position: absolute;
		font-size: 2.4rem;
	}
	&__buttons {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__button {
		background: none;
		border: 2px solid #d7af70;
		color: #d7af708c;
		width: 150px;
		height: 60px;
		display: grid;
		place-items: center;
		font-family: inherit;
		font-size: 1.6rem;
		font-weight: 300;
		cursor: pointer;
		border-radius: 5px;
		transition: border-color 500ms, color 500ms, fill 500ms;
		fill: #d7af708c;
		margin: 1rem 0;
	}
	&__button--icon {
		// display: grid;
		// place-items: center;
		display: block;
		width: 2.4rem;
		// height: 40%;
		fill: inherit;
	}
	&__button--icon-stats {
		// display: block;
		// fill: inherit;
	}
	&__button:hover {
		border-color: #30bced;
		color: #30bced;
		fill: #30bced;
	}
	&__message--small {
		font-size: 1.6rem;
		max-width: 14rem;
		line-height: 1.6;
		// font-style: italic;
		display: block;
		color: #d7af708c;
	}
}
