@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-align-center {
	display: flex;
	align-items: center;
}

@mixin flex($direction, $j-c, $a-i) {
	display: flex;
	flex-direction: $direction;
	justify-content: $j-c;
	align-items: $a-i;
}
