// colors
$app--background: #2e3532;
$app--border: #e8e1ef;
$btn--highlight: #30bced;

$header--height: 20rem;
$footer--height: 40rem;

$black--background: #191919;
$color--app-background: #3a405a;
$color--components: #aec5eb81;
$color--components-lighter: #aec5eb;

$color--components-border: #aec5eb;
$color--components-fill: #fbe8da;

$color--component-path-elapsed: #30354b;
$color--app-foreground: #fbe8da;
