// colors

$app--background: #2e3532;
$app--border: #e8e1ef;
$btn--highlight: #30bced;

$header--height: 20rem;
$footer--height: 40rem;

// dark

$black--background: #212121;
$color--app-background: #333;
$color--components: #ffd95c;
$color--components-lighter: #f8f9fa;

$color--components-border: #2191fb;
$color--components-fill: #73bafc;

$color--component-path-elapsed: #30354b;
$color--app-foreground: #f8f9fa;
