body {
	display: grid;
	place-content: center;
	min-height: 100vh;
}

.app {
	padding: 6rem;
	width: 600px;
	border: 10px solid #1f1f1f;
	border-radius: 10px;
	// min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
	margin: 0 auto;
}

.container {
	width: 500px;
	margin: 0 auto;
}

.container--flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
