body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	background: #333;
	color: $color--app-foreground;
}

.app {
	width: 500px;
	background: #212121;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	padding: 6rem;
	border-radius: 25px;
	display: grid;
	row-gap: 4rem;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'timer'
		'footer';
	margin: 0 auto;

	// header

	.header {
		color: inherit;
		grid-area: header;
		&__logo {
			display: flex;
			align-items: baseline;
		}
		&__logo--icon {
			height: 4rem;
			margin-right: 1rem;
		}
		&__logo--text {
			font-family: 'Fredoka One', cursive;
			font-size: 4em;
		}
	}

	// footer

	.footer {
		grid-area: footer;
		color: inherit;
		display: grid;
		grid-template-columns: 1.25fr 1fr;
		&__title {
			color: #d2d7df;
			font-size: 1.2rem;
			font-weight: 300;
			letter-spacing: 8px;
			text-transform: uppercase;
			margin-bottom: 0.4rem;
		}
		&__about {
			font-weight: 300;
			line-height: 1.5;
			font-size: 2rem;
		}
		&__copyright {
			text-align: right;
			align-self: flex-end;
			display: block;
			font-weight: 300;
			font-size: 1.2rem;
			font-weight: 300;
		}
		&__logo {
			display: block;
			font-family: 'Fredoka One', cursive;
		}
		&__icon {
			display: inline-block;
			width: 2rem;
			margin: 0 0.25rem;
		}
	}
}
