.app {
	min-height: 100vh;
	background: #333;
	display: grid;
	grid-template-rows: auto 1.5fr 1fr;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

.container {
	width: 500px;
	margin: 0 auto;
}

.container--flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
