.header {
	color: #f8f9fa;
	margin-bottom: 4rem;
	&__logo {
		display: flex;
		align-items: baseline;
	}
	&__logo--icon {
		height: 3rem;
		margin-right: 1rem;
	}
	&__logo--text {
		font-family: 'Fredoka One', cursive;
		font-size: 3rem;
	}
}
