*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app {
  min-height: 100vh;
  background: #333;
  display: grid;
  grid-template-rows: auto minmax(400px, 1fr) minmax(400px, 1fr);
  grid-template-areas: "header" "main" "footer";
}

.container, .timer {
  width: 600px;
  margin: 0 auto;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: #333;
  color: #f8f9fa;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: baseline;
}
.header__logo--icon {
  height: 4rem;
  margin-right: 1rem;
}
.header__logo--text {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
}

.main-content {
  background: #3d3d3d;
  display: flex;
  align-items: center;
}

.footer {
  background: #333;
  color: #f8f9fa;
  display: flex;
  align-items: center;
}
.footer__title {
  color: #d7af70;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer__about {
  font-weight: 300;
  line-height: 1.5;
  font-size: 2.6rem;
}
.footer__copyright {
  display: block;
  margin-top: 8rem;
  font-weight: 300;
  font-size: 1.6rem;
  font-weight: 300;
}
.footer__logo {
  font-family: "Fredoka One", cursive;
}
.footer__icon {
  display: inline-block;
  width: 30px;
}

.loading-screen {
  transition: opacity 500ms, visibility 500ms;
}
.loading-screen__avatar {
  width: 80px;
  height: 80px;
  border: 3px #30bced solid;
  border-radius: 50%;
  overflow: hidden;
  animation: float 2s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  transition: opacity 250ms, visibility 250ms;
}
.loading-screen__img {
  width: 60%;
  height: auto;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.timer {
  display: flex;
  align-items: center;
  transition: visibility 500ms, opacity 500ms;
}
.timer__display {
  position: relative;
  width: 28rem;
  height: 28rem;
  color: #d7af70;
  display: grid;
  place-items: center;
  margin-right: 6rem;
}
.timer__svg {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}
.timer__circle {
  fill: none;
  stroke: none;
}
.timer__path-elapsed {
  stroke-width: 2px;
  stroke: #333;
}
.timer__path-remaining {
  stroke-width: 1px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
  stroke: #d7af70;
  paint-order: stroke;
}
.timer__time-left {
  position: absolute;
  font-size: 2.4rem;
}
.timer__buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.timer__button {
  background: none;
  border: 2px solid #d7af70;
  color: #d7af708c;
  width: 150px;
  height: 60px;
  display: grid;
  place-items: center;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  transition: border-color 500ms, color 500ms, fill 500ms;
  fill: #d7af708c;
  margin: 1rem 0;
}
.timer__button--icon {
  display: block;
  width: 24px;
  fill: inherit;
}
.timer__button:hover {
  border-color: #30bced;
  color: #30bced;
  fill: #30bced;
}

.overlay.hidden,
.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 210px minmax(400px, 1fr) minmax(400px, 1fr);
  place-content: center;
  place-items: center;
  transition: opacity 500ms, visibility 500ms;
  cursor: pointer;
}

.modal {
  grid-column: 1/-1;
  grid-row: 2/3;
  width: 40rem;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  transition: opacity 500ms, visibility 500ms;
  cursor: default;
}
.modal__options {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.modal__input {
  width: 8rem;
  font-size: inherit;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
