*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #111;
  font-family: monospace;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: #212121;
  color: #f8f9fa;
}

.app {
  position: relative;
  width: 500px;
  background: #333;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 6rem;
  border-radius: 25px;
  display: grid;
  row-gap: 4rem;
  grid-template-rows: 8rem 1fr 10rem;
  grid-template-areas: "header" "timer" "footer";
  margin: 0 auto;
}
.app .header {
  color: inherit;
  grid-area: header;
}
.app .header__logo {
  display: flex;
  align-items: baseline;
}
.app .header__logo--icon {
  height: 4rem;
  margin-right: 1rem;
}
.app .header__logo--text {
  font-family: "Knewave", cursive;
  font-size: 5rem;
}
.app .footer {
  grid-area: footer;
  color: inherit;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  place-items: end;
}
.app .footer__title {
  color: #d2d7df;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}
.app .footer__about {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.6rem;
}
.app .footer__copyright {
  text-align: right;
  align-self: flex-end;
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  font-weight: 300;
}
.app .footer__logo {
  display: block;
  font-family: "Knewave", cursive;
}
.app .footer__icon {
  display: inline-block;
  width: 2rem;
  margin: 0 0.25rem;
}

.loading-screen {
  transition: opacity 500ms, visibility 500ms;
}
.loading-screen__avatar {
  width: 80px;
  height: 80px;
  border: 2px solid #ffd23f;
  border-radius: 50%;
  overflow: hidden;
  animation: float 2s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  transition: opacity 250ms, visibility 250ms;
}
.loading-screen__img {
  width: 60%;
  height: auto;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.timer {
  grid-area: timer;
  display: flex;
  align-items: center;
  transition: visibility 250ms, opacity 250ms;
  display: grid;
  column-gap: 4rem;
  grid-template-columns: 1.3fr 1fr;
}
.timer__display {
  position: relative;
  color: #ffd95c;
  display: grid;
  place-items: center;
}
.timer__svg {
  width: 110%;
  height: 100%;
  transform: scaleX(-1);
}
.timer__circle {
  fill: none;
  stroke: none;
}
.timer__path-elapsed {
  stroke-width: 2px;
  stroke: #292929;
}
.timer__path-remaining {
  stroke-width: 1px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: #ffd95c;
  paint-order: stroke;
}
.timer__time-left {
  font-family: "Knewave", cursive;
  position: absolute;
  font-size: 2rem;
  font-weight: 400;
  color: #f8f9fa;
  letter-spacing: 6px;
}
.timer__buttons {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.timer__button {
  background: none;
  border: 2px solid #ffd95c;
  color: #f8f9fa;
  width: 100%;
  height: 4.5rem;
  display: grid;
  place-items: center;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 500ms, border-color 500ms;
  fill: #f8f9fa;
}
.timer__button--icon {
  display: block;
  width: 2.4rem;
  fill: inherit;
}
.timer__button--icon-options {
  width: 2rem;
}
.timer__button:hover {
  border-color: #2191fb;
  color: #73bafc;
  fill: #73bafc;
}
.timer__message--small {
  font-size: 1.6rem;
  max-width: 14rem;
  line-height: 1.6;
  display: block;
  color: #f8f9fa;
}

#primary {
  font-family: monospace;
}

.overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 10rem;
  grid-template-areas: "." "modal" ".";
  z-index: 100;
  transition: opacity 250ms, visibility 250ms;
  cursor: pointer;
  border-radius: 25px;
  padding: 6rem;
}

.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  color: #333;
  grid-area: modal;
  width: 100%;
  height: 90%;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  transition: opacity 250ms, visibility 250ms;
  cursor: default;
}

.modal__settings, .modal__statistics {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.modal__settings p, .modal__statistics p {
  margin: 0;
}
.modal__input-label {
  grid-area: label;
  margin-right: 3rem;
}
.modal__input {
  grid-area: input;
  width: 10rem;
  font-size: inherit;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
